.column {
    float: left;
    
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }


  .sectionimg
  {
    padding: 5px;
   height: 300px;
   width: 150;
   margin: 5;
   resize: 'contain';
  }


  .line{
    border-bottom: 2px solid;
    display: block;
 }
 .left
{
     float: left;
    
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    
}
.firstsection{
  text-align: left ;
}