.alert {
    padding: 20px;
    background-color: #1c9101;
    color: white;
  }
  
  .closebtn2 {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn2:hover {
    color: black;
  }