.cardweather {
    /* background-image: url(https://img.freepik.com/premium-vector/sky-background-video-conferencing_23-2148616500.jpg?w=2000); */
    background-size: cover;
    background-color: #092953;
    
   
    color: whitesmoke
   
}

.time-font {
    font-size: 50px;
    color: aliceblue;
    
}

.sm-font {
    font-size: 18px;
    color: aliceblue;
}

.med-font {
    font-size: 28px;
    color: aliceblue;
    
}

.large-font {
    font-size: 60px;
    color: aliceblue;
}

