#myCard{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: left;
    

    
  }
  #myCard #CardText{
  font-size: 20px;
  padding-left: 40px;
  padding-bottom:30px;
  text-align: left;
  
  
    
  }
  #myCard #CardTitle{
    font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  
  
  
      
    }
    #myCard #CardImg{
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
        
      }
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 3px solid rgba(0, 0, 0, 0.1);
    }
  #mainDiv{
    margin: 50px;
    
  
  }
  
  