.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
  
}
#icons{
  display: inline-block;
  justify-content: space-between;
  position: relative;
   
}

#icons:hover{
  display: inline-block;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
   
}

.spacebetween{
    padding: 5px;
    width: 34px;
}
.linesize {
  font-size: 15px;
}
.nav
{
  float: left;
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}
.top{
  border-top: 1px solid #004aac;
  
 
}

#tabs {
  color : #004aac;
}

#tabs:hover {
  color : #092953;
  cursor:pointer;
}

.linesize{
  color : #000000;
}

#logo:hover {
  cursor: pointer;
}