#header-logo {
    width: 50px;
}

#navitems {
    color: black;
}

#navitems:hover {
    color: grey;
}

#navigation {
    background-color: white;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
}

#logo {
    letter-spacing: 5px;
    font-weight: 600;
}

#items {
    gap: 20px;
}

.special {
    margin-right: 25px;
}

#responsive-navbar-nav {
    
}