#card-header{
    background: rgb(9,41,83);
    background: linear-gradient(60deg, rgba(9,41,83,1) 30%, rgba(0,74,172,1) 69%, rgba(206,235,242,1) 94%);
}

#userDetails {
    text-align: left;
}

#userImage {
    border-radius: 100%;
}

.row-cols-lg-4>* {
    flex: 0 0 auto;
    width:fit-content;
    padding: 30px;
}